@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');
*{
    padding:0px;
    margin: 0px;
    font-family: 'JetBrains Mono', monospace;
}
#letsGo {
	text-align: center;
}
.author-description{
    max-height: 200vw;
}
.author-description p{
    font-size: calc(100% + 0.5vw + 0.5vh);
}
#author-image img{
	width:80%;
}
#footer{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	bottom: 0;
}
#footer i,#footer p{
	padding:1vw;
}