/* *{
	margin:0px;
	padding:0px;
}
.container{
	padding:5%;
}
#window{display:flex;}
#main{
	width:80%;
}
#main h4{text-align: center;}
#side{
	width:20%;
	border-left: 0.5vw dashed slategrey;
	border-bottom: 0.5vw dashed slategrey;
	padding:2%;
	height:100vw;
}
.sideButtons{
	padding:2%;
	
}


.buttonUsed{
	background-color: gray;
}
.buttonEnable{
	background-color:springgreen;
}


#questions{
	
} */
.gameOver{
	border: 1px solid springgreen;
	display:flex;
	flex-wrap: wrap;
	background-image: url("../img/gameOver.jpg");
	background-repeat: no-repeat;
	background-position: bottom;
	width:100%;
	height:40vw;
	padding:2vw;
	justify-content: bottom;
	justify-content: space-evenly;
	padding-top: 20vw;
	
}
#pocniPonovo{
	
}
.gameOver input{
	height:5vw;
	width:20%;
	margin: 20vw 10vw;
	border-radius: 1vw 4vw;
	background-color: green;
	color:wheat;
	
}
